@keyframes history-snaphot-animation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(33%);
    opacity: 0;
  }
}

#history {
  transition: all .3s ease-in-out 0s;

  &.-hide {
    transform: translateY(100%);
  }
}