@keyframes countdown-animation {
  0% {
    transform: scale(.8);
    opacity: 0;
  }
  100% {
    transform: scale(2);
    opacity: 1;
  }
}

#countdown {
  > [data-seconds] {
    text-shadow: 0 0 30px rgba(0, 0, 0, .15);
    -webkit-animation: countdown-animation .3s 1 ease-in-out;
    animation-fill-mode: both;
  }
}