#camera-stream {
  --crosshair-color: rgba(255,255,255, 0.4);
  position: relative;

  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    z-index: 20;
  }


  &.-four-square {
    &:before,
    &:after {
      background: var(--crosshair-color);
    }

    &:before {
      top: calc(50% - .5px);
      left: 0;
      width: 100%;
      height: 1px;
    }

    &:after {
      top: 0;
      left: calc(50% - .5px);
      height: 100%;
      width: 1px;
    }
  }


  &.-nine-square {
    &:before,
    &:after {
      border-width: 1px;
      border-color: var(--crosshair-color);
    }

    &:before {
      top: 33%;
      left: 0;
      width: 100%;
      height: 33vh;
      border-top-style: solid;
      border-bottom-style: solid;
    }

    &:after {
      top: 0;
      left: 33%;
      height: 100%;
      width: 33vw;
      border-left-style: solid;
      border-right-style: solid;
    }
  }
}