@mixin display-flex($type: flex, $align-items: center, $justify-content: null, $flex-direction: null, $flex-wrap: null){
  display: $type;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;

  > .-spacer {
    flex: 1;
  }
}


@mixin list-child-margin($margin: 15px, $div: '*', $direction: 'right') {
  > #{$div} {
    margin-#{$direction}: $margin;

    @if($direction == 'right' or $direction == 'bottom') {
      &:last-child {
        margin-#{$direction}: 0;
      }
    }

    @if($direction == 'left' or $direction == 'top') {
      &:first-child {
        margin-#{$direction}: 0;
      }
    }

  }
}