@mixin table() {
  // general
  position: relative;
  width: 100%;
  table-layout: fixed;
  border: 0;
  border-spacing: 0 3px;
  border-collapse: separate;

  // row
  tr {
    position: relative;
    width: 100%;

    th, td {
      padding: 5px 10px;
    }

    &.-sticky{
      position: sticky;
      top: 0;
      padding-top: var(--grid-gap);
      z-index: 10;
    }
  }

 // cells
  th {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: 34px;

    text-align: left;
  }

  td {
    position: relative;
    display: table-cell;
    vertical-align: center;
    background: rgba(0,0,0, .1);

    &:first-child {
      border-radius: 3px 0 0 3px;
    }

    &:last-child {
      border-radius: 0 3px 3px 0;
    }
  }
}