@use "src/styles/mixins";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "styles/stream.countdown";
@import "styles/stream.crosshair";
@import "styles/stream.filter";
@import "styles/stream.history";

html, body {
  position: relative;
  width: 100%;
  min-height: 100vh;

  > #root {
    position: relative;
    width: 100%;
    min-height: 100vh;
  }
}